.heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-left: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

a {
  color: #212529;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: #1c7ed6;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #1c7ed6;

  transition: all 300ms ease;
}

a:hover {
  color: #1c7ed6;
  background-color: #fff;
}

.redling {
  background-color: #e03131;
  color: #ffa8a8;
  border-color: #e03131;
}
.redling:hover {
  background-color: #fff;
  color: #e03131;
}
